{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <h1 class="f1">{{ .Title }}</h1>
  <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
    {{ .Content }}
  </div>
  <!-- Chatango embedding code -->
  <script id="cid0020000319919723410" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 500px;">{"handle":"futuretechinnovations","arch":"js","styles":{"a":"0084EF","b":100,"c":"FFFFFF","d":"FFFFFF","k":"0084EF","l":"0084EF","m":"0084EF","n":"FFFFFF","p":"10","q":"0084EF","r":100,"cnrs":"0.35"}}</script>
</article>
{{ end }}